*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff;
}

:root{
    --primary: #5f007c;
    --muted: #5a5c5a;
}

body{
    min-height: 100vh;
    margin: 0 10%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel{
    width: 300px;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;

    anchor-name:--carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel::scroll-button(right), 
.carousel::scroll-button(left){
    content:'>';
    border: none;
    background-color: var(--primary);
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-right: .2rem;
    cursor: pointer;
    position: fixed;

    position-anchor: --carousel;
    position-area: right center;
    translate: 20%;
}

.carousel::scroll-button(left){
    content:'<';
    padding-left: .2rem;
    position-area: left center;
    translate: -20%;
}

.carousel::scroll-button(right):disabled, 
.carousel::scroll-button(left):disabled{
    opacity: 0.5;
    cursor: auto;
}

.carousel::scroll-marker-group{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card{
    scroll-snap-align: start;
    flex: 0 0 100%;
    height: 30em;
    background-color: var(--muted);
    padding: 1em;
    border-radius: 2em;
    text-align: center;
    align-content: center;
}

.card::scroll-marker{
    content: '';
    height: 1em;
    width: 1em;
    background-color: var(--muted);
    border-radius: 50%;
}

.card::scroll-marker:target-current{
    background-color: var(--primary);
}

@media(max-width: 500px){
    .carousel::scroll-button(right){
        translate: -50%;
    }
    .carousel::scroll-button(left){
        translate: 50%;
    }
}